@import '../../styles/variables';

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  1.25rem 0 0;
    padding: 0 1.25rem;
    background: $white;
    border: 1px solid $grey;
    border-radius: 5px;

    h2 {
        font-weight: 500;
    }
}

.padded {
    margin-left: 1.25rem;
}