@import '../styles/variables';

aside {
    padding: 2.5rem;
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
}

main {
    // width: calc(100vw - #{$sidebar-width});
    min-height: calc(100vh - #{$header-height} - 5rem);
    margin: $header-height 0 0 $sidebar-width;
    padding: 2.5rem 4.375rem;
    background: $blue-light;
    // display: flex;
    // flex-direction: column;
}
